body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/loginBG.jpg");
    background-size: cover;
    background-repeat: initial;
}

a:visited
{
    text-decoration: none;
    color: #2699fb;
}

a:link
{
    text-decoration: none;
    color: #FFF;
}

#logo img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 15px;
}

#logo {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
}

#card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 10% auto;
    padding: 5%;    
    width: 25%;
    text-align: center;
    min-width: 300px;
}

/* make all text boxes rounded */

input {
    border: 1px solid #2699fb;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
    margin: 5px;
    height: 25px;
}

#submit {
    border: 1px solid #2699fb;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 100%;
    min-height: 50px;
    color: white;
    font-weight: bold;
    background-color: #2699fb;
}

#submit:hover {
    background-color: #0091ff;
}



#back {
  /* top left of card */
    float: left;
    margin-top: 2%;

}