.input {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  min-width: 30%;
  min-height: 50px;
  padding-left: 20px;
  border-color: #bde1fd ;
  border-style: solid;
}

::placeholder {
    color: #bde1fd ;
}
.submit {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  min-width: 32%;
  min-height: 50px;
  color: white;
  background-color: #2699fb;
}